.page {
  font-family: 'inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  margin: 0;
  background: #2a2c2f;
  color: white;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
}
  