.footer__items {
  display: flex;
  justify-content: space-between;
  padding-top: 92px;
  padding-bottom: 24px;
  width: 1184px;
  max-width: 100%;
}

@media (max-width: 1024px) {
  .footer__items {
    width: 928px;
  }
}

@media (max-width: 768px) {
  .footer__items {
    width: 720px;
  }
}

@media (max-width: 320px) {
  .footer__items {
    padding-top: 88px;
    padding-left: 16px;
    width: 186px;
    height: 310px;
    flex-direction: column;
  }
}