.footer__copyright {
  margin: 0;
  text-align: right;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #FFFFFF;
}

@media (max-width: 650px) {
  .footer__copyright {
    margin-top: 15px;
  }
}

@media (max-width: 320px) {
  .footer__copyright {
    align-self: flex-start;
    text-align: left;
    line-height: 1;
  }
}